# .github/workflows/build.yml
name: Build ZMK Firmware

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build gperf ccache dfu-util device-tree-compiler wget
          pip install west
          wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.17.0/zephyr-sdk-0.17.0_linux-x86_64.tar.xz
          tar xvJf zephyr-sdk-0.17.0_linux-x86_64.tar.xz
          cd zephyr-sdk-0.17.0
          ./setup.sh -t all -h -c

      - name: Initialize West
        run: |
          west init -l "${GITHUB_WORKSPACE}/zmk-config/config"
          cd zmk-config
          west update
          west zephyr-export

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyelftools

      - name: Build firmware
        working-directory: zmk-config
        run: |
          west build -p -b seeeduino_xiao_ble zmk/app -- -DZMK_CONFIG="${GITHUB_WORKSPACE}/zmk-config/config"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: zmk-config/build/zephyr/zephyr.uf2
